@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Silkscreen", sans-serif;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

nav ul li a {
  text-decoration: none;
  background-color: indigo;
  color: lightcoral;
}

nav ul li a:hover, nav ul li a:active {
  color: indigo;
  background-color: lightcoral;
}